button{
    padding:30px 50px;
    margin:10px;
    font-size: 30px;
    font-family: "PT Serif", "georgia", serif;
    border: 1px solid black;
    cursor:pointer;
    background:#ffffff;    
}

button:hover{
    box-shadow: 0 0 10px 5px #aaaaaa;
}

.project-div{
    border:1px solid #aaaaaa;
    border-radius: 3px;
    padding:20px;
    /*box-shadow: 0px 0px 2px 1px #444444;*/
    background: #ffffff;
    font-size:17px;
}


.project-title{
    font-size: 20px;
    font-weight: bold;
}

.project-desc{
    margin-top:20px;
    font-size: 17px;
}

.module{
    padding-top:30px;
    padding-bottom:20px;

}

.module-title{
    background:#ffffff;
    font-size:40px;
    text-align:center;
    margin: 20px;
    border:1px solid #aaaaaa;
    border-radius: 3px;
    /*box-shadow: 0 0 5px 2px #444444;*/
}

.module-subtitle{
    background:#ffffff;
    font-size:30px;
    text-align:center;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    border:1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px #eeeeee;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

i{ 
    vertical-align: middle !important; 
}